# 생산량 데이터 전처리

!pip install natsort
!pip install pandas
!pip install openpyxl

In [204]:
# 라이브러리
from glob import glob
import natsort
import pandas as pd

### 1980~2023 연도별 생산량

In [229]:
path = ('./data/Year/')
file = glob(f'{path}*.xlsx')
file_list = natsort.natsorted(file) #이름순 정렬
file_list

['./data/Year\\naqs20230630174038394.xlsx',
 './data/Year\\naqs20230630174110731.xlsx',
 './data/Year\\naqs20230630174144126.xlsx',
 './data/Year\\naqs20230630174201309.xlsx',
 './data/Year\\naqs20230630174416449.xlsx',
 './data/Year\\naqs20230630174433044.xlsx',
 './data/Year\\naqs20230630174502757.xlsx',
 './data/Year\\naqs20230630174522145.xlsx',
 './data/Year\\naqs20230630174629783.xlsx',
 './data/Year\\naqs20230630174653992.xlsx',
 './data/Year\\naqs20230630174717334.xlsx',
 './data/Year\\naqs20230630174734634.xlsx',
 './data/Year\\naqs20230630174749893.xlsx',
 './data/Year\\naqs20230630174805060.xlsx',
 './data/Year\\naqs20230630174823640.xlsx',
 './data/Year\\naqs20230630174840413.xlsx',
 './data/Year\\naqs20230630175026405.xlsx',
 './data/Year\\naqs20230630175045188.xlsx',
 './data/Year\\naqs20230630175100436.xlsx',
 './data/Year\\naqs20230630175130900.xlsx',
 './data/Year\\naqs20230630175146839.xlsx',
 './data/Year\\naqs20230630175202140.xlsx',
 './data/Year\\naqs20230630175222628.xlsx',
 './data/Year\\naqs20230630175237877.xlsx',
 './data/Year\\naqs20230630175255270.xlsx',
 './data/Year\\naqs20230630175311991.xlsx',
 './data/Year\\naqs20230630175334886.xlsx',
 './data/Year\\naqs20230630175350597.xlsx',
 './data/Year\\naqs20230630175407226.xlsx',
 './data/Year\\naqs20230630175422920.xlsx',
 './data/Year\\naqs20230630175437640.xlsx']

In [230]:
def merge_columns(file_single):
    df = pd.read_excel(file_single, sheet_name='생산정보(통계청)(스프레드시트)')
    df.columns = df.columns.str.replace('/', '_')
    # 멀티컬럼 병합
    for col in df.columns:
        if col.startswith('Unnamed'):
            col_index = df.columns.get_loc(col)
            prev_col = df.columns[col_index - 1]
            df.rename(columns={col: prev_col}, inplace=True)
    df.columns = (df.columns[1:]+'_'+df.iloc[0].values[1:]).insert(0, '조회일자')
    return df

In [231]:
df_ = merge_columns(file_list[0])
df_ = df_.drop(0)
for file_ in file_list[1:]:
    df_temp = merge_columns(file_)
    df_ = pd.merge(df_, df_temp, on='조회일자', how='left')

c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\LEE\anaconda3\envs\AWS_\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [233]:
# 재배면적, 생산량, 단수 중 선택 
target_ = '생산량'
col_production = df_.columns[df_.columns.str.contains(target_)]
df_[col_production.insert(0,'조회일자')]

,조회일자,전국_가을감자_생산량,서울_가을감자_생산량,세종_가을감자_생산량,강원도_가을감자_생산량,대전_가을감자_생산량,충청남도_가을감자_생산량,충청북도_가을감자_생산량,인천_가을감자_생산량,경기도_가을감자_생산량,...,경기도_풋고추_생산량,광주_풋고추_생산량,전라남도_풋고추_생산량,전라북도_풋고추_생산량,부산_풋고추_생산량,경상남도_풋고추_생산량,울산_풋고추_생산량,제주특별자치도_풋고추_생산량,대구_풋고추_생산량,경상북도_풋고추_생산량
0,1980.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1981.0,"34,380",0,0,450,0,"5,145","3,380",0,645,...,0,0,0,0,0,0,0,0,0,0
2,1982.0,"32,631",0,0,147,0,"3,045","1,272",0,431,...,0,0,0,0,0,0,0,0,0,0
3,1983.0,"22,246",0,0,253,0,"1,643",436,0,832,...,0,0,0,0,0,0,0,0,0,0
4,1984.0,"20,472",0,0,60,0,"1,383",243,0,150,...,0,0,0,0,0,0,0,0,0,0
5,1985.0,"23,640",0,0,829,0,846,312,0,293,...,0,0,0,0,0,0,0,0,0,0
6,1986.0,"20,048",0,0,39,0,"1,003",49,0,393,...,0,0,0,0,0,0,0,0,0,0
7,1987.0,"19,294",0,0,101,0,498,641,0,275,...,0,0,0,0,0,0,0,0,0,0
8,1988.0,"28,815",0,0,108,0,562,503,0,434,...,"2,420","4,574","6,125",165,16,"18,896",0,26,44,"1,054"
9,1989.0,"55,274",0,0,48,0,728,230,0,275,...,"1,683","3,841","6,008",508,40,"19,850",0,0,0,"1,164"
10,1990.0,"34,433",0,0,0,0,330,0,0,52,...,"1,124","4,520","5,620",235,49,"25,353",0,0,0,904
11,1991.0,"60,276",0,0,74,0,473,74,0,456,...,"1,566","4,793","7,347",488,322,"28,904",0,10,0,"1,392"
12,1992.0,"147,584",0,0,114,0,"1,685",104,0,98,...,"1,951","7,869","12,934",581,125,"41,313",0,9,0,"2,539"
13,1993.0,"81,306",0,0,0,0,347,15,0,52,...,"2,160","9,812","17,064","1,748",195,"35,732",0,0,0,"2,104"
14,1994.0,"57,069",0,0,0,0,351,79,0,104,...,"3,510","11,208","29,050","3,026",144,"46,475",0,843,0,"2,958"
15,1995.0,"88,369",0,0,0,0,499,0,0,158,...,"2,704","10,791","30,348","2,784",135,"54,725",0,25,0,"2,056"
16,1996.0,"126,076",0,0,"1,111",0,268,53,146,36,...,"4,024","1,692","24,023","9,851","1,014","49,972",0,38,0,"3,263"
17,1997.0,"83,342",0,0,"1,304",0,420,89,0,740,...,"3,040","13,886","26,508","5,655",56,"45,379",0,0,15,"3,057"
18,1998.0,"76,398",0,0,"1,037",0,206,851,0,34,...,"4,170","21,013","23,109","3,423",200,"60,165",180,0,45,"5,603"
19,1999.0,"94,581",0,0,"1,191",323,769,544,27,"1,632",...,"5,980","10,255","27,519","5,136",206,"136,694",494,41,425,"4,462"
20,2000.0,"77,791",0,0,"1,215",361,559,551,30,270,...,"6,830","25,221","31,600","4,787",892,"87,772",720,126,"1,267","9,916"
21,2001.0,"103,092",0,0,765,0,249,42,0,15,...,"5,661","24,656","38,147","5,031",918,"117,615",342,251,"1,643","8,596"
22,2002.0,"92,758",0,0,448,201,"1,078",477,0,32,...,"2,948","16,011","32,737","3,358",25,"100,589",586,573,"1,118","6,237"
23,2003.0,"65,687",0,0,"1,022",117,812,116,35,213,...,"6,451","18,659","30,907","11,101",212,"105,715",792,322,635,"10,505"
24,2004.0,"128,809",0,0,"1,181",259,"2,553",339,799,355,...,"9,375","16,728","43,308","16,259",173,"110,007",927,554,"2,264","9,192"
25,2005.0,"185,519",0,0,"1,498",27,"4,500","2,529",116,834,...,"7,271","13,449","37,366","9,398",106,"95,874",469,523,"1,715","15,005"
26,2006.0,"116,985",0,0,"1,416",0,"1,830",564,0,368,...,"7,257","16,305","33,053","5,855",219,"102,174",702,0,"1,281","15,670"
27,2007.0,"94,542",27,0,643,0,"4,400",220,24,483,...,"11,677","17,538","25,295","7,341",196,"108,829",64,220,"1,996","13,600"
28,2008.0,"99,442",0,0,820,0,"3,393",363,492,"1,087",...,"10,070","20,508","27,900","9,652",234,"114,481",102,37,"2,524","13,735"
29,2009.0,"80,793",0,0,886,0,"4,958",247,63,919,...,"10,594","20,345","31,446","3,909",0,"97,587",938,96,"1,068","6,689"
30,2010.0,"83,652",23,0,821,75,"10,388",347,19,"1,938",...,"8,660","20,064","28,483","5,674",130,"92,644",198,35,"1,103","11,032"
31,2011.0,"69,674",376,0,335,0,"3,304",670,18,376,...,"13,258","14,900","18,607","6,144",58,"81,033",120,12,505,"7,715"
32,2012.0,"63,730",0,0,926,0,"2,198",555,17,"1,003",...,"11,430","11,008","23,515","1,553",208,"89,232",112,0,270,"8,711"
33,2013.0,"45,289",0,0,855,32,"2,046",799,0,913,...,"10,110","17,842","17,308","2,317",89,"73,101",27,36,998,"7,864"
34,2014.0,"49,690",17,0,741,16,"3,279","1,707",24,450,...,"7,928","9,935","19,964","3,424",0,"90,788",102,23,441,"3,585"
35,2015.0,"38,508",0,0,369,32,"1,811",283,44,601,...,"9,188","11,473","22,165","6,936",228,"73,849",70,413,766,"4,557"
36,2016.0,"40,073",0,0,616,49,"1,710","2,124",74,725,...,"7,027","6,191","18,771","3,382",381,"80,587",92,270,0,"6,726"
37,2017.0,"46,342",1,88,485,49,"2,338","1,135",52,810,...,"4,720","4,991","16,105","5,996",233,"106,894",42,874,685,"5,429"
38,2018.0,"71,010",0,4,"1,113",44,"2,993","1,524",30,994,...,"3,426","8,699","13,682","5,288",75,"122,070",71,768,135,"3,747"